@{
    ViewBag.Title = "Access Denied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    @*<h4 class="text-danger">Access Denied</h4>*@
    <h4 class="text-danger" style="padding-top:1em;">Access Denied<a style="display: inline; font-size: 14px;"></a></h4>
    <h6 class="text-danger">You do not have permission to view this resource</h6>
    <img src="~/images/noaccess.png" style="height:300px; width:450px" />
</div>
